/*Estilos para las paginas y componentes desarrollados por Marco Corporation*/
/*Export colors from variables.css in theme */
@import url('./../../theme/variables.css');

/* Ahora puedes usar las variables CSS definidas en variables.css 
.my-element {
  background-color: var(--ion-color-primary);
  color: var(--ion-color-primary-contrast);
}
*/
/*Logo panel style*/
.LogoPanel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 10px;
  }
  
  .LogoImg {
    width: 50%;
    height: auto;
    
  }

  /*Logo panel style*/

  /* Componentes formularios */

  .PanelPrincipal {
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }

  .TituloPagina {
    font-size: 2.5em;
    margin: 0;
    padding: 25px;
    text-align: left;
  }

  .PanelSecundario {
    border-radius: 10px;
    margin: 25px;
  }

  .TituloN2 {
    font-size: 1.5em;
    margin: 0;
    color: var(--ion-logo-naranja);
    padding: 25px;
  }

  .component-icon {
    border-radius: 50%;
  
    padding: 7px;
    height: 18px;
    width: 18px;
  
    margin-top: 5px;
    margin-bottom: 5px;
  }
  /* Componentes formularios */
  
  /*Configuraciones*/
  .component-icon-dark {
    background: var(--ion-color-step-850, #27323e);
    color: var(--ion-item-background, #fff);
  }
  /*Configuraciones*/
