/* Tabla de proyectos */
.table-container {
  overflow-x: auto; /* Permitir desplazamiento horizontal */
  margin-top: 20px; /* Espacio superior para la tabla */
}

.table {
  width: 130%; /* Ancho completo */
  border-collapse: collapse;
}

.table th, .table td {
  padding: 12px; /* Relleno en las celdas */
  border: 1px solid #ccc; /* Borde de las celdas */
  text-align: left; /* Alinear texto a la izquierda */
}

.table th {
  background-color: #f2f2f2; /* Color de fondo del encabezado */
}

/* Anchos específicos para las columnas */
.table td:nth-child(1) { /* ID */
  width: 60px; /* Ancho para la columna ID */
}

.table td:nth-child(2) { /* Categoría */
  width: 120px; /* Ancho para la columna de Categoría */
}

.table td:nth-child(3) { /* Nomenclatura */
  width: 100px; /* Ancho para la columna de Nomenclatura */
}

.table td:nth-child(4) { /* Nombre */
  width: 150px; /* Ancho para la columna de Nombre */
}

.table td:nth-child(5) { /* Responsable */
  width: 130px; /* Ancho para la columna de Responsable */
}

.table td:nth-child(6) { /* Estado */
  width: 100px; /* Ancho para la columna de Estado */
}

/* Ajusta el ancho de las columnas de fecha para 
