/* Aumenta el tamaño del IonAlert para todos los botones */
.alert-wrapper {
    width: 400px;   /* Ajusta el ancho de la alerta */
    height: auto;
    max-width: 90%; /* Para hacerlo responsive */
  }
  
  .alert-input {
    font-size: 18px;   /* Aumenta el tamaño del texto en los campos de texto */
    padding: 12px;     /* Añade más espacio dentro de los campos */
  }
  
  .alert-button {
    font-size: 18px;   /* Aumenta el tamaño de los botones */
    padding: 10px 20px;
  }
  
  .alert-header {
    font-size: 22px;   /* Agranda el título de la alerta */
    font-weight: bold;
  }
  
  .alert-input-wrapper {
    margin-bottom: 15px; /* Espacio entre los campos */
  }
  